{
    "extends": "airbnb",
    "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
    },
    "parser": "babel-eslint",
    "rules": {
        "semi": [2, "never"],
        "comma-dangle": ["error", "never"]
    }
}
